*{
    margin: 0;
    padding:0;
}
ul,li,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    widows: 100%;
}
.inner{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
}
div.grey_background{
    background-color: #ececec;
}
div#header{
    width:100%;
    background-color: #004c7e;
}
header{
    width: auto;
    max-width: 1200px;
    margin: 0 auto;
    height: 35px;
    display: flex;
    justify-content: space-between;
}
div.header{
    height: inherit;
    display: flex;
    align-items: center;
}
header li{
    padding:0 10px;
}
header div.left li a{
    color:#c6d3e0;
}
header div.right li a{
    color:#ebb428;
}

/* logo开始 */
div#logo{
    width: 100%;
    height: 130px;
    background-color: #005691;
}
div#logo div.inner{
    height: inherit;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('../images/head_bg.png') right 25px no-repeat;
}
div#logo div.inner img{
    width: 100%;
    max-width: 180px;
}
/* logo结束 */
/* nav开始 */
div#nav{
    background-color: #0e6bc2;
}
ul.nav.inner{
    height: 55px;
    display: flex;
    justify-content: space-around;
}
ul.nav.inner li,ul.nav.inner ul.down-menue li{
    height: 55px;
    width: 150px;
    text-align: center;
    line-height: 55px;
    cursor: pointer;
    background-color: #0e6bc2;
}
ul.nav.inner ul.down-menue li{
    height: 30px;
    line-height: 30px;
}
ul.nav.inner li a{
    color: white;
}
ul.nav.inner li:hover,ul.nav.inner ul.down-menue li:hover{
    background-color: #005691;
}
ul.down-menue{
    /* height: 0px; */
    width: inherit;
    overflow: hidden;
    display: none;
    position: relative;
    z-index: 20;
}
/* nav结束 */
/* banner开始 */

div.banner.inner{
    max-width: 1200px;
    height: 400px;
    width: auto;
    position: relative;
    overflow: hidden;
}
div.banner div{
    max-width: 1200px;
    height: 400px;
    width: auto;
    position: absolute;
    z-index: 8;
}
div.banner img{
    max-width: 1200px;
    height: 400px;
}
div.banner div#front_banner{
    z-index: 10;
}
div#last_banner{
    z-index: 10;
}
div.banner a.banner-button{
    width: 40px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    opacity: 0.5;
    background-color: black;
    color: white;
    position: absolute;
    font-size: 50px;
    z-index: 30;
    top: 40%;
}
div.banner a.banner-button.right{
    right: 0;
}
div.banner a.banner-button.left{
    left:0;
}
h2#b_discription{
    position: absolute;
    right: 10%;
    top: 70%;
    z-index: 100;
    color: white;
    font-size: 30px;
}
/* banner结束 */

/* news开始 */
div.news.inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
div#news_head{
    margin:30px 0;
    border-bottom:3px solid #0e6bc2;
    height: 30px;
    width: 1200px;
}
div#news_head h3,a{
    display: inline-block;
}
div#news_head a{
    float: right;
    vertical-align: bottom;
}
div#news_pic{
    width: 525px;
    height: 350px;
    position: relative;
}
div#news_pic img{
    width: 100%;
}
div#news_pic div{
    width: inherit;
    height: 30px;
    line-height: 30px;
    background-color: #c6d3e0;
    position: absolute;
    bottom: 0;
    opacity: 0.88;
}
div#news_right{
    width: 650px;
    height: 350px;
}
div#news_right{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}
div#news_right li{
    border-bottom: 0.6px solid grey;
    height: 30px;
    width: inherit;
}
div#news_right li a{
    color: #032f5a;
    font-size: 15px;
}
div#news_right li span{
    color: gray;
    float: right;
}
/* news结束 */
/* 媒体查询开始 */
@media screen and (max-width:920px){
    div#header{/*宽度小于900px不显示header*/
        display: none;
    }
    div#logo{
        height: 15vh;
    }
    div#logo div.inner{
        /* logo居中 */
        justify-content: center;
    }
    div#logo div.inner{
        /* 取消背景校训的显示 */
        background: none;
    }
    div#nav{
        /* 取消nav的显示 */
        display: none;
    }
    div#banner img{
        width: 100vw;
        height: width/3;
    }
    div#news_pic,div#news_right{
        width: 100%;
    }

}
/* 媒体查询结束 */